{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>

<body>
  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a href="/blogpost" class="btn btn-success">Post a Blog</a>
        <div>
          {% for blogpost in blog_posts %}
          <div>
            <h3>{{blogpost.title}}</h3>
            <p>{{blogpost.blog_post}}</p>
            <p><span>Author: {{blogpost.users.username}}</span><span class="text-right">{{blogpost.date_posted}}</span>
            </p>
            <a href="{{url_for('main.update', blog_id=blogpost.id)}}" class="btn btn-success">update</a>
            <a href="{{url_for('main.delete', blog_id=blogpost.id)}}" class="btn btn-danger">delete</a>
            <!-- <a href="/blogpost/{{blogpost.id}}" class="btn btn-success">get full post</a> -->
            <a href="{{url_for('main.single_blog_post', blog_id=blogpost.id)}}" class="btn btn-success">get full
              post</a>
          </div>
          <hr>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-4">

        <div class="mb-5">
          <h1 class="text-danger text-center">Quote-Harvester</h1>
          <h2>{{quotes.author}}</h2>
          <p class="text-italic">{{quotes.quote}}</p>
        </div>

        <div class="mt-5">
          {{wtf.quick_form(subscribe_form)}}
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</body>

</html>